<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.DataclientlevelMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisdemo.entity.Dataclientlevel">
            <id property="id" column="dclID" jdbcType="INTEGER"/>
            <result property="name" column="dclName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        dclID,dclName
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dataclientlevel
        where  dclID = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from dataclientlevel
        where  dclID = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="dclID" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Dataclientlevel" useGeneratedKeys="true">
        insert into dataclientlevel
        ( dclID,dclName)
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="dclID" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Dataclientlevel" useGeneratedKeys="true">
        insert into dataclientlevel
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">dclID,</if>
                <if test="name != null">dclName,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisdemo.entity.Dataclientlevel">
        update dataclientlevel
        <set>
                <if test="name != null">
                    dclName = #{name,jdbcType=VARCHAR},
                </if>
        </set>
        where   dclID = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.mybatisdemo.entity.Dataclientlevel">
        update dataclientlevel
        set 
            dclName =  #{name,jdbcType=VARCHAR}
        where   dclID = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
