<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisdemo.entity.Orders">
            <id property="id" column="ordersID" jdbcType="INTEGER"/>
            <result property="date" column="ordersDate" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="state" column="ordersState" jdbcType="INTEGER"/>
            <result property="clientcode" column="clientCode" jdbcType="VARCHAR"/>
            <result property="total" column="ordersTotal" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ordersID,ordersDate,address,
        ordersState,clientCode,ordersTotal,
        remark
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from orders
        where  ordersID = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from orders
        where  ordersID = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="ordersID" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Orders" useGeneratedKeys="true">
        insert into orders
        ( ordersID,ordersDate,address
        ,ordersState,clientCode,ordersTotal
        ,remark)
        values (#{id,jdbcType=INTEGER},#{date,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR}
        ,#{state,jdbcType=INTEGER},#{clientcode,jdbcType=VARCHAR},#{total,jdbcType=INTEGER}
        ,#{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ordersID" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Orders" useGeneratedKeys="true">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">ordersID,</if>
                <if test="date != null">ordersDate,</if>
                <if test="address != null">address,</if>
                <if test="state != null">ordersState,</if>
                <if test="clientcode != null">clientCode,</if>
                <if test="total != null">ordersTotal,</if>
                <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="date != null">#{date,jdbcType=VARCHAR},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
                <if test="state != null">#{state,jdbcType=INTEGER},</if>
                <if test="clientcode != null">#{clientcode,jdbcType=VARCHAR},</if>
                <if test="total != null">#{total,jdbcType=INTEGER},</if>
                <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisdemo.entity.Orders">
        update orders
        <set>
                <if test="date != null">
                    ordersDate = #{date,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
                <if test="state != null">
                    ordersState = #{state,jdbcType=INTEGER},
                </if>
                <if test="clientcode != null">
                    clientCode = #{clientcode,jdbcType=VARCHAR},
                </if>
                <if test="total != null">
                    ordersTotal = #{total,jdbcType=INTEGER},
                </if>
                <if test="remark != null">
                    remark = #{remark,jdbcType=VARCHAR},
                </if>
        </set>
        where   ordersID = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.mybatisdemo.entity.Orders">
        update orders
        set 
            ordersDate =  #{date,jdbcType=VARCHAR},
            address =  #{address,jdbcType=VARCHAR},
            ordersState =  #{state,jdbcType=INTEGER},
            clientCode =  #{clientcode,jdbcType=VARCHAR},
            ordersTotal =  #{total,jdbcType=INTEGER},
            remark =  #{remark,jdbcType=VARCHAR}
        where   ordersID = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
