<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.SaleplanMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisdemo.entity.Saleplan">
            <id property="id" column="planId" jdbcType="INTEGER"/>
            <result property="chcid" column="planChcId" jdbcType="INTEGER"/>
            <result property="todo" column="planTodo" jdbcType="VARCHAR"/>
            <result property="result" column="planResult" jdbcType="VARCHAR"/>
            <!--关联集合-->
            <association
                    property="salechance"
                    column="planChcId"
                    select="com.example.mybatisdemo.mapper.SalechanceMapper.selectByPrimaryKey">
            </association>
    </resultMap>

    <resultMap id="newBaseResultMap" type="com.example.mybatisdemo.entity.Saleplan">
        <id property="id" column="planId" jdbcType="INTEGER"/>
        <result property="chcid" column="planChcId" jdbcType="INTEGER"/>
        <result property="todo" column="planTodo" jdbcType="VARCHAR"/>
        <result property="result" column="planResult" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        planId,planChcId,planTodo,
        planResult
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="newBaseResultMap">
        select
        <include refid="Base_Column_List" />
        from saleplan
        where  planId = #{id,jdbcType=INTEGER}
    </select>
    <!--被关联集合-->
    <select id="getByChanceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from saleplan
        where planChcId = #{planChcId}
    </select>

    <select id="getAll" resultMap="newBaseResultMap">
        select * from saleplan
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from saleplan
        where  planId = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByChcId" parameterType="java.lang.Long">
        delete from saleplan
        where  planChcId = #{chcid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="planId" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Saleplan" useGeneratedKeys="true">
        insert into saleplan
        ( planId,planChcId,planTodo
        ,planResult)
        values (#{id,jdbcType=INTEGER},#{chcid,jdbcType=INTEGER},#{todo,jdbcType=VARCHAR}
        ,#{result,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="planId" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Saleplan" useGeneratedKeys="true">
        insert into saleplan
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">planId,</if>
                <if test="chcid != null">planChcId,</if>
                <if test="todo != null">planTodo,</if>
                <if test="result != null">planResult,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="chcid != null">#{chcid,jdbcType=INTEGER},</if>
                <if test="todo != null">#{todo,jdbcType=VARCHAR},</if>
                <if test="result != null">#{result,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisdemo.entity.Saleplan">
        update saleplan
        <set>
                <if test="chcid != null">
                    planChcId = #{chcid,jdbcType=INTEGER},
                </if>
                <if test="todo != null">
                    planTodo = #{todo,jdbcType=VARCHAR},
                </if>
                <if test="result != null">
                    planResult = #{result,jdbcType=VARCHAR},
                </if>
        </set>
        where   planId = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.mybatisdemo.entity.Saleplan">
        update saleplan
        set 
            planChcId =  #{chcid,jdbcType=INTEGER},
            planTodo =  #{todo,jdbcType=VARCHAR},
            planResult =  #{result,jdbcType=VARCHAR}
        where   planId = #{id,jdbcType=INTEGER}
    </update>
</mapper>
