<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.SalechanceMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisdemo.entity.Salechance">
            <id property="id" column="chanceId" jdbcType="INTEGER"/>
            <result property="source" column="chanceSource" jdbcType="VARCHAR"/>
            <result property="custname" column="chanceCustName" jdbcType="VARCHAR"/>
            <result property="title" column="chanceTitle" jdbcType="VARCHAR"/>
            <result property="rate" column="chanceRate" jdbcType="INTEGER"/>
            <result property="linkman" column="chanceLinkman" jdbcType="VARCHAR"/>
            <result property="tel" column="chanceTel" jdbcType="VARCHAR"/>
            <result property="desc" column="chanceDesc" jdbcType="VARCHAR"/>
            <result property="createid" column="chanceCreateId" jdbcType="OTHER"/>
            <result property="createdate" column="chanceCreateDate" jdbcType="VARCHAR"/>
            <result property="dueid" column="chanceDueId" jdbcType="INTEGER"/>
            <result property="duedate" column="chanceDueDate" jdbcType="VARCHAR"/>
            <result property="status" column="chanceStatus" jdbcType="INTEGER"/>
        <!--关联集合-->
        <collection
                property="plans"
                column="chanceId"
                select="com.example.mybatisdemo.mapper.SaleplanMapper.getByChanceId">
        </collection>
    </resultMap>

    <resultMap id="newBaseResultMap" type="com.example.mybatisdemo.entity.Salechance">
        <id property="id" column="chanceId" jdbcType="INTEGER"/>
        <result property="source" column="chanceSource" jdbcType="VARCHAR"/>
        <result property="custname" column="chanceCustName" jdbcType="VARCHAR"/>
        <result property="title" column="chanceTitle" jdbcType="VARCHAR"/>
        <result property="rate" column="chanceRate" jdbcType="INTEGER"/>
        <result property="linkman" column="chanceLinkman" jdbcType="VARCHAR"/>
        <result property="tel" column="chanceTel" jdbcType="VARCHAR"/>
        <result property="desc" column="chanceDesc" jdbcType="VARCHAR"/>
        <result property="createid" column="chanceCreateId" jdbcType="OTHER"/>
        <result property="createdate" column="chanceCreateDate" jdbcType="VARCHAR"/>
        <result property="dueid" column="chanceDueId" jdbcType="INTEGER"/>
        <result property="duedate" column="chanceDueDate" jdbcType="VARCHAR"/>
        <result property="status" column="chanceStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        chanceId,chanceSource,chanceCustName,
        chanceTitle,chanceRate,chanceLinkman,
        chanceTel,chanceDesc,chanceCreateId,
        chanceCreateDate,chanceDueId,chanceDueDate,
        chanceStatus
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from salechance
        where  chanceId = #{id,jdbcType=INTEGER}
    </select>
    <select id="getAll" resultMap="newBaseResultMap">
        select
        <include refid="Base_Column_List" />
        from salechance
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from salechance
        where  chanceId = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="chanceId" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Salechance" useGeneratedKeys="true">
        insert into salechance
        ( chanceId,chanceSource,chanceCustName
        ,chanceTitle,chanceRate,chanceLinkman
        ,chanceTel,chanceDesc,chanceCreateId
        ,chanceCreateDate,chanceDueId,chanceDueDate
        ,chanceStatus)
        values (#{id,jdbcType=INTEGER},#{source,jdbcType=VARCHAR},#{custname,jdbcType=VARCHAR}
        ,#{title,jdbcType=VARCHAR},#{rate,jdbcType=INTEGER},#{linkman,jdbcType=VARCHAR}
        ,#{tel,jdbcType=VARCHAR},#{desc,jdbcType=VARCHAR},#{createid,jdbcType=OTHER}
        ,#{createdate,jdbcType=VARCHAR},#{dueid,jdbcType=INTEGER},#{duedate,jdbcType=VARCHAR}
        ,#{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="chanceId" keyProperty="id" parameterType="com.example.mybatisdemo.entity.Salechance" useGeneratedKeys="true">
        insert into salechance
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">chanceId,</if>
                <if test="source != null">chanceSource,</if>
                <if test="custname != null">chanceCustName,</if>
                <if test="title != null">chanceTitle,</if>
                <if test="rate != null">chanceRate,</if>
                <if test="linkman != null">chanceLinkman,</if>
                <if test="tel != null">chanceTel,</if>
                <if test="desc != null">chanceDesc,</if>
                <if test="createid != null">chanceCreateId,</if>
                <if test="createdate != null">chanceCreateDate,</if>
                <if test="dueid != null">chanceDueId,</if>
                <if test="duedate != null">chanceDueDate,</if>
                <if test="status != null">chanceStatus,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="source != null">#{source,jdbcType=VARCHAR},</if>
                <if test="custname != null">#{custname,jdbcType=VARCHAR},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="rate != null">#{rate,jdbcType=INTEGER},</if>
                <if test="linkman != null">#{linkman,jdbcType=VARCHAR},</if>
                <if test="tel != null">#{tel,jdbcType=VARCHAR},</if>
                <if test="desc != null">#{desc,jdbcType=VARCHAR},</if>
                <if test="createid != null">#{createid,jdbcType=OTHER},</if>
                <if test="createdate != null">#{createdate,jdbcType=VARCHAR},</if>
                <if test="dueid != null">#{dueid,jdbcType=INTEGER},</if>
                <if test="duedate != null">#{duedate,jdbcType=VARCHAR},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisdemo.entity.Salechance">
        update salechance
        <set>
                <if test="source != null">
                    chanceSource = #{source,jdbcType=VARCHAR},
                </if>
                <if test="custname != null">
                    chanceCustName = #{custname,jdbcType=VARCHAR},
                </if>
                <if test="title != null">
                    chanceTitle = #{title,jdbcType=VARCHAR},
                </if>
                <if test="rate != null">
                    chanceRate = #{rate,jdbcType=INTEGER},
                </if>
                <if test="linkman != null">
                    chanceLinkman = #{linkman,jdbcType=VARCHAR},
                </if>
                <if test="tel != null">
                    chanceTel = #{tel,jdbcType=VARCHAR},
                </if>
                <if test="desc != null">
                    chanceDesc = #{desc,jdbcType=VARCHAR},
                </if>
                <if test="createid != null">
                    chanceCreateId = #{createid,jdbcType=OTHER},
                </if>
                <if test="createdate != null">
                    chanceCreateDate = #{createdate,jdbcType=VARCHAR},
                </if>
                <if test="dueid != null">
                    chanceDueId = #{dueid,jdbcType=INTEGER},
                </if>
                <if test="duedate != null">
                    chanceDueDate = #{duedate,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    chanceStatus = #{status,jdbcType=INTEGER},
                </if>
        </set>
        where   chanceId = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.mybatisdemo.entity.Salechance">
        update salechance
        set 
            chanceSource =  #{source,jdbcType=VARCHAR},
            chanceCustName =  #{custname,jdbcType=VARCHAR},
            chanceTitle =  #{title,jdbcType=VARCHAR},
            chanceRate =  #{rate,jdbcType=INTEGER},
            chanceLinkman =  #{linkman,jdbcType=VARCHAR},
            chanceTel =  #{tel,jdbcType=VARCHAR},
            chanceDesc =  #{desc,jdbcType=VARCHAR},
            chanceCreateId =  #{createid,jdbcType=OTHER},
            chanceCreateDate =  #{createdate,jdbcType=VARCHAR},
            chanceDueId =  #{dueid,jdbcType=INTEGER},
            chanceDueDate =  #{duedate,jdbcType=VARCHAR},
            chanceStatus =  #{status,jdbcType=INTEGER}
        where   chanceId = #{id,jdbcType=INTEGER}
    </update>

    <select id="search" resultMap="newBaseResultMap">
        select * from salechance where chanceCustName like #{custname}
        and chanceTitle like #{title}
        and chanceLinkman like #{linkman}
        <if test="status != 0">
            and chanceStatus = #{status}
        </if>
    </select>
</mapper>
